*.pyc
event_quality/env/
event_quality/models/
event_quality/logs/
*.csv
.ipynb_checkpoints
.DS_Store
*.xlsx
*.json
exploring_data/env/
relevance_tuning/env/
organizer_following/env/
top_search_terms.txt
trending_searches/sql/valid_topics/*.txt
trending_searches/sql/mappings/*.txt
trending_searches/data/*.txt

data
old_data
